<ion-header>
  <ion-toolbar>
    <ion-title>swipe-strikes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  


    <div id="viewport" >
        <div class="stack" swing-stack  [stackConfig]="stackConfig"  #myswing1 (throwout)="onThrowOut($event)">
          <div class="test" swing-card #mycards1 [ngClass]="c.name" *ngFor="let c of cards">
            
            
              <ion-card>
                  <img [src]="c.img"/>

                  <div class="card-titles onimg">
                      <h1>{{ c.title }}</h1>
                      <h3>12 Destinations</h3>
                      <ion-badge item-end style="position: absolute;
                      right: -120px;
                      top: 90px;"> {{ c.symbol }} 260k</ion-badge>
                    </div>  


                  


                  <ion-card-content>
                    <ion-card-title>
                        
                      </ion-card-title>
                    <p>
                        {{ c.description }}
                    </p>
                  </ion-card-content>



                  <div class="card-footer">
                      <div class="popular-destinations-text">Popular <br/> Destinations</div>
                      <div class="popular-destinations-images">
                        <div class="circle"><img src="https://image.ibb.co/jmEYL7/adventure_1.jpg" width="100%" height="100%"/></div>
                        <div class="circle"><img src="https://image.ibb.co/nsCynn/adventure_2.jpg" width="100%" height="100%"/></div>
                        <div class="circle"><img src="https://image.ibb.co/hmsL07/adventure_3.jpg" width="100%" height="100%"/></div>
                      </div>
                    </div>
                </ion-card>


            


            
              </div>
            </div>


         
      </div>
     


      <div class="global-actions">
          <div class="left-action"><img src="https://image.ibb.co/heTxf7/20_status_close_3x.png" width="26" height="26"/></div>
          <div class="top-action"><img src="https://image.ibb.co/m1ykYS/rank_army_star_2_3x.png" width="18" height="16"/></div>
          <div class="right-action"><img src="https://image.ibb.co/dCuESn/Path_3x.png" width="30" height="28"/></div>
      </div>
   


    </ion-content>
