<ion-header>
  <ion-toolbar>
   
  <div style="text-align:center"><img style="width:40px" src="assets/images/bolt.svg">
  </div>
  </ion-toolbar>
</ion-header>

<ion-content >


    







    <div padding>
    <ion-segment [(ngModel)]="pakker">
      <ion-segment-button class="segment-button segment-activated" value="strikes">
        Strikes
      </ion-segment-button>
  
  
  
      
      <ion-segment-button value="russ">
        Mine Pakker
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="pakker">


      <ion-list *ngSwitchCase="'strikes'">
      
  
  
  
  
          <!-- List of Text Items -->
        <ion-list >
        
            <a class="label-md" (click)="goToStrike()"> 
            <ion-item class="ion-no-padding"  >
        
              <ion-avatar item-left style="margin: 8px 0px 8px 0;">
        
        
            <img style="     border-radius: 0;
            overflow: hidden;
            width: 26px;
            height: 26px;
            margin-top: 7px;
            margin-left: 27px; color:#363636; " src="assets/images/elementType/toxic.svg" >
           </ion-avatar>
            <p style="    position: absolute;
            right: 15px;
            top: 0px;
            font-size: 13px;">4 days left</p>
           <h2 style="position: relative;
           font-size: 16px;
           top: -15px;
           left: 35px;color:#363636;">Lag snø-engler i badedrakt</h2>
           <p style="    position: absolute;
           bottom: 0;
           font-size: 12px;
           left: 75px;">From Siripus</p>
        </ion-item>
     
      </a>
        
        
        <ion-item class="ion-no-padding" >
        
          <ion-avatar item-left style="margin: 8px 0px 8px 0;">
        
        
        <img style="     border-radius: 0;
        overflow: hidden;
        width: 26px;
        height: 26px;
        margin-top: 7px;
        margin-left: 27px;  " src="assets/images/elementType/toxic.svg" >
        </ion-avatar>
        <p style="    position: absolute;
        right: 15px;
        top: 0px;
        font-size: 13px;">4 days left</p>
        <h2 style="position: relative;
        font-size: 16px;
        top: -15px;
        left: 35px;color:#363636;">Lag snø-engler i badedrakt</h2>
        <p style="    position: absolute;
        bottom: 0;
        font-size: 12px;
        left: 75px;">From Siripus</p>
        </ion-item>
        
        
        
        
        
        <ion-item class="ion-no-padding" >
        
          <ion-avatar item-left style="margin: 8px 0px 8px 0;">
        
        
        <img style="     border-radius: 0;
        overflow: hidden;
        width: 26px;
        height: 26px;
        margin-top: 7px;
        margin-left: 27px;  " src="assets/images/elementType/toxic.svg" >
        </ion-avatar>
        <p style="    position: absolute;
        right: 15px;
        top: 0px;
        font-size: 13px;">4 days left</p>
        <h2 style="position: relative;
        font-size: 16px;
        top: -15px;
        left: 35px;color:#363636;">Lag snø-engler i badedrakt</h2>
        <p style="    position: absolute;
        bottom: 0;
        font-size: 12px;
        left: 75px;">From Siripus</p>
        </ion-item>
        
        
        
        
        
        </ion-list>
          
          
          
          
          
          
          
           
         
          
          
          
          
          
          
          
          
          
          
          
          
          
            </ion-list>
    <ion-list *ngSwitchCase="'russ'">
      
  
  
  
  
  
  
  
        <ion-row>
            <ion-col size="6">
                <ion-card>
      
                    <img class="center-cropped3" src="assets/images/russ4.jpg" >
                  <ion-card-header class="onimg">
                      
                    <ion-card-subtitle style="color:#fff" >100 knuter</ion-card-subtitle>
                    <ion-card-title style="color:#fff" >Russepakke</ion-card-title>
      
                  
                  </ion-card-header>
                  <ion-button fill="outline" class="s-img-btn2" slot="end">99 kr</ion-button>
                </ion-card> 
            </ion-col>
      
      
      
            <ion-col size="6">
                <ion-card>
      
                    <img class="center-cropped" src="assets/images/pakke_venner.jpg" >
                  <ion-card-header class="onimg">
                      
                    <ion-card-subtitle style="color:#fff" >30 Strikes</ion-card-subtitle>
                    <ion-card-title style="color:#fff" >Vennepakken</ion-card-title>
      
                  
                  </ion-card-header>
                  <ion-button fill="outline" class="s-img-btn2" slot="end">3 / 30</ion-button>
                </ion-card> 
            </ion-col>
      
      
            <ion-col size="6">
                <ion-card>
      
                    <img class="center-cropped" src="assets/images/pakke_couple.jpg" >
                  <ion-card-header class="onimg">
                      
                    <ion-card-subtitle style="color:#fff" >30 Strikes</ion-card-subtitle>
                    <ion-card-title style="color:#fff" >Kjærestepakken</ion-card-title>
      
                  
                  </ion-card-header>
                  <ion-button fill="outline" class="s-img-btn2" slot="end">0 / 30</ion-button>
                </ion-card> 
            </ion-col>
      
            <ion-col size="6">
               




            </ion-col>
          </ion-row>
  
  
  
   
 
  
  
  
  
  
  
  
  
  
  
  
  
  
    </ion-list>
  
   
  </div>
  
  
  


  
  </ion-content>
