<ion-content>
    <div class="overlay bilde">
        <div class="logo">
           <img  src="assets/images/bolt.svg">
        </div> 
           <form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
 
              <ion-item>
                <ion-label  position="floating" style="color:#fff">Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
           
              <ion-item>
                <ion-label  position="floating" style="color:#fff">Password</ion-label>
                <ion-input type="password" formControlName="password" required></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
           
              <ion-button  class="button-md" type="submit" routerLink="/tabs" [disabled]="!validations_form.valid">Log In</ion-button>
           
              <label class="error-message">{{errorMessage}}</label>
            </form>
            <p class="go-to-register label-md">
              No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
            </p>
        
      </div>
  
</ion-content>
 