<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="swipe-strikes">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>Karusell</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="packages">
          <ion-icon name="sunny"></ion-icon>
          <ion-label>Pakker</ion-label>
        </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>