<ion-header>
  <ion-toolbar color="primary">
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <i class="flaticon-pinecone"> </i>

          <strong>Font Demo</strong>
    
  
  
 
  
  
  
          <section id="glyphs">          
    
      
                <div class="glyph"><div class="glyph-icon flaticon-champagne"></div>
                    <div class="class-name">.flaticon-champagne</div>
                    <div class="author-name">Author: <a data-file="001-champagne" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-champagne-and-two-glasses"></div>
                    <div class="class-name">.flaticon-champagne-and-two-glasses</div>
                    <div class="author-name">Author: <a data-file="002-champagne-and-two-glasses" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-champagne-1"></div>
                    <div class="class-name">.flaticon-champagne-1</div>
                    <div class="author-name">Author: <a data-file="003-champagne-1" href="https://www.flaticon.com/authors/iconixar">iconixar</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-champagne-2"></div>
                    <div class="class-name">.flaticon-champagne-2</div>
                    <div class="author-name">Author: <a data-file="004-champagne-2" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-knot"></div>
                    <div class="class-name">.flaticon-knot</div>
                    <div class="author-name">Author: <a data-file="005-knot" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-popsicle"></div>
                    <div class="class-name">.flaticon-popsicle</div>
                    <div class="author-name">Author: <a data-file="006-popsicle" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-popsicle-1"></div>
                    <div class="class-name">.flaticon-popsicle-1</div>
                    <div class="author-name">Author: <a data-file="007-popsicle-1" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-pine-cone"></div>
                    <div class="class-name">.flaticon-pine-cone</div>
                    <div class="author-name">Author: <a data-file="008-pine-cone" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-hat"></div>
                    <div class="class-name">.flaticon-hat</div>
                    <div class="author-name">Author: <a data-file="009-hat" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-lollipop-candy"></div>
                    <div class="class-name">.flaticon-lollipop-candy</div>
                    <div class="author-name">Author: <a data-file="010-lollipop-candy" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-rose"></div>
                    <div class="class-name">.flaticon-rose</div>
                    <div class="author-name">Author: <a data-file="011-rose" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-sheriff"></div>
                    <div class="class-name">.flaticon-sheriff</div>
                    <div class="author-name">Author: <a data-file="012-sheriff" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-edit"></div>
                    <div class="class-name">.flaticon-edit</div>
                    <div class="author-name">Author: <a data-file="013-edit" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-cigarette"></div>
                    <div class="class-name">.flaticon-cigarette</div>
                    <div class="author-name">Author: <a data-file="014-cigarette" href="https://www.flaticon.com/authors/good-ware">Good Ware</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-button"></div>
                    <div class="class-name">.flaticon-button</div>
                    <div class="author-name">Author: <a data-file="015-button" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-champagne-bottle"></div>
                    <div class="class-name">.flaticon-champagne-bottle</div>
                    <div class="author-name">Author: <a data-file="016-champagne-bottle" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-dog-collar"></div>
                    <div class="class-name">.flaticon-dog-collar</div>
                    <div class="author-name">Author: <a data-file="017-dog-collar" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-quality"></div>
                    <div class="class-name">.flaticon-quality</div>
                    <div class="author-name">Author: <a data-file="018-quality" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-money"></div>
                    <div class="class-name">.flaticon-money</div>
                    <div class="author-name">Author: <a data-file="019-money" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-gift"></div>
                    <div class="class-name">.flaticon-gift</div>
                    <div class="author-name">Author: <a data-file="020-gift" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-travel"></div>
                    <div class="class-name">.flaticon-travel</div>
                    <div class="author-name">Author: <a data-file="021-travel" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-friendship"></div>
                    <div class="class-name">.flaticon-friendship</div>
                    <div class="author-name">Author: <a data-file="022-friendship" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-life"></div>
                    <div class="class-name">.flaticon-life</div>
                    <div class="author-name">Author: <a data-file="023-life" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-target"></div>
                    <div class="class-name">.flaticon-target</div>
                    <div class="author-name">Author: <a data-file="024-target" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-feedback"></div>
                    <div class="class-name">.flaticon-feedback</div>
                    <div class="author-name">Author: <a data-file="025-feedback" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-safety-pin"></div>
                    <div class="class-name">.flaticon-safety-pin</div>
                    <div class="author-name">Author: <a data-file="026-safety-pin" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-condom"></div>
                    <div class="class-name">.flaticon-condom</div>
                    <div class="author-name">Author: <a data-file="027-condom" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-lips"></div>
                    <div class="class-name">.flaticon-lips</div>
                    <div class="author-name">Author: <a data-file="028-lips" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-kiss"></div>
                    <div class="class-name">.flaticon-kiss</div>
                    <div class="author-name">Author: <a data-file="029-kiss" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-lego"></div>
                    <div class="class-name">.flaticon-lego</div>
                    <div class="author-name">Author: <a data-file="030-lego" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-blocks"></div>
                    <div class="class-name">.flaticon-blocks</div>
                    <div class="author-name">Author: <a data-file="031-blocks" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-swimsuit"></div>
                    <div class="class-name">.flaticon-swimsuit</div>
                    <div class="author-name">Author: <a data-file="032-swimsuit" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-beach"></div>
                    <div class="class-name">.flaticon-beach</div>
                    <div class="author-name">Author: <a data-file="033-beach" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-bikini"></div>
                    <div class="class-name">.flaticon-bikini</div>
                    <div class="author-name">Author: <a data-file="034-bikini" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-wedding-ring"></div>
                    <div class="class-name">.flaticon-wedding-ring</div>
                    <div class="author-name">Author: <a data-file="035-wedding-ring" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-birthday-cake"></div>
                    <div class="class-name">.flaticon-birthday-cake</div>
                    <div class="author-name">Author: <a data-file="036-birthday-cake" href="https://www.flaticon.com/authors/icongeek26">Icongeek26</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-cake"></div>
                    <div class="class-name">.flaticon-cake</div>
                    <div class="author-name">Author: <a data-file="037-cake" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-sleeping"></div>
                    <div class="class-name">.flaticon-sleeping</div>
                    <div class="author-name">Author: <a data-file="038-sleeping" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-syringe"></div>
                    <div class="class-name">.flaticon-syringe</div>
                    <div class="author-name">Author: <a data-file="039-syringe" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-first-aid-kit"></div>
                    <div class="class-name">.flaticon-first-aid-kit</div>
                    <div class="author-name">Author: <a data-file="040-first-aid-kit" href="https://www.flaticon.com/authors/good-ware">Good Ware</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-care"></div>
                    <div class="class-name">.flaticon-care</div>
                    <div class="author-name">Author: <a data-file="041-care" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-care-1"></div>
                    <div class="class-name">.flaticon-care-1</div>
                    <div class="author-name">Author: <a data-file="042-care-1" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-recycle-sign"></div>
                    <div class="class-name">.flaticon-recycle-sign</div>
                    <div class="author-name">Author: <a data-file="043-recycle-sign" href="https://www.flaticon.com/authors/monkik">monkik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-bread"></div>
                    <div class="class-name">.flaticon-bread</div>
                    <div class="author-name">Author: <a data-file="044-bread" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-snowflake"></div>
                    <div class="class-name">.flaticon-snowflake</div>
                    <div class="author-name">Author: <a data-file="045-snowflake" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-snowflake-1"></div>
                    <div class="class-name">.flaticon-snowflake-1</div>
                    <div class="author-name">Author: <a data-file="046-snowflake-1" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-snowman"></div>
                    <div class="class-name">.flaticon-snowman</div>
                    <div class="author-name">Author: <a data-file="047-snowman" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-hamburger"></div>
                    <div class="class-name">.flaticon-hamburger</div>
                    <div class="author-name">Author: <a data-file="048-hamburger" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-burger"></div>
                    <div class="class-name">.flaticon-burger</div>
                    <div class="author-name">Author: <a data-file="049-burger" href="https://www.flaticon.com/authors/good-ware">Good Ware</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-pacifier"></div>
                    <div class="class-name">.flaticon-pacifier</div>
                    <div class="author-name">Author: <a data-file="050-pacifier" href="https://www.flaticon.com/authors/icongeek26">Icongeek26</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-tape"></div>
                    <div class="class-name">.flaticon-tape</div>
                    <div class="author-name">Author: <a data-file="051-tape" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-feather-pen"></div>
                    <div class="class-name">.flaticon-feather-pen</div>
                    <div class="author-name">Author: <a data-file="052-feather-pen" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-quill"></div>
                    <div class="class-name">.flaticon-quill</div>
                    <div class="author-name">Author: <a data-file="053-quill" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-panties"></div>
                    <div class="class-name">.flaticon-panties</div>
                    <div class="author-name">Author: <a data-file="054-panties" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-corn"></div>
                    <div class="class-name">.flaticon-corn</div>
                    <div class="author-name">Author: <a data-file="055-corn" href="https://www.flaticon.com/authors/nikita-golubev">Nikita Golubev</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-bus"></div>
                    <div class="class-name">.flaticon-bus</div>
                    <div class="author-name">Author: <a data-file="056-bus" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-hair-cut"></div>
                    <div class="class-name">.flaticon-hair-cut</div>
                    <div class="author-name">Author: <a data-file="057-hair-cut" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-tampon"></div>
                    <div class="class-name">.flaticon-tampon</div>
                    <div class="author-name">Author: <a data-file="058-tampon" href="https://www.flaticon.com/authors/those-icons">Those Icons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-kiss-1"></div>
                    <div class="class-name">.flaticon-kiss-1</div>
                    <div class="author-name">Author: <a data-file="059-kiss-1" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-kiss-2"></div>
                    <div class="class-name">.flaticon-kiss-2</div>
                    <div class="author-name">Author: <a data-file="060-kiss-2" href="https://www.flaticon.com/authors/pixelmeetup">Pixelmeetup</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-wedding-kiss"></div>
                    <div class="class-name">.flaticon-wedding-kiss</div>
                    <div class="author-name">Author: <a data-file="061-wedding-kiss" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-barrel"></div>
                    <div class="class-name">.flaticon-barrel</div>
                    <div class="author-name">Author: <a data-file="062-barrel" href="https://www.flaticon.com/authors/eucalyp">Eucalyp</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-football"></div>
                    <div class="class-name">.flaticon-football</div>
                    <div class="author-name">Author: <a data-file="063-football" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-stopwatch"></div>
                    <div class="class-name">.flaticon-stopwatch</div>
                    <div class="author-name">Author: <a data-file="064-stopwatch" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-payment"></div>
                    <div class="class-name">.flaticon-payment</div>
                    <div class="author-name">Author: <a data-file="065-payment" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-book"></div>
                    <div class="class-name">.flaticon-book</div>
                    <div class="author-name">Author: <a data-file="066-book" href="https://www.flaticon.com/authors/zlatko-najdenovski">Zlatko Najdenovski</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-karaoke"></div>
                    <div class="class-name">.flaticon-karaoke</div>
                    <div class="author-name">Author: <a data-file="067-karaoke" href="https://www.flaticon.com/authors/srip">srip</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-beer"></div>
                    <div class="class-name">.flaticon-beer</div>
                    <div class="author-name">Author: <a data-file="068-beer" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-beer-1"></div>
                    <div class="class-name">.flaticon-beer-1</div>
                    <div class="author-name">Author: <a data-file="069-beer-1" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-fireworks"></div>
                    <div class="class-name">.flaticon-fireworks</div>
                    <div class="author-name">Author: <a data-file="070-fireworks" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-gift-1"></div>
                    <div class="class-name">.flaticon-gift-1</div>
                    <div class="author-name">Author: <a data-file="071-gift-1" href="https://www.flaticon.com/authors/iconixar">iconixar</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-birthday-and-party"></div>
                    <div class="class-name">.flaticon-birthday-and-party</div>
                    <div class="author-name">Author: <a data-file="072-birthday-and-party" href="https://www.flaticon.com/authors/smalllikeart">smalllikeart</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-vomit"></div>
                    <div class="class-name">.flaticon-vomit</div>
                    <div class="author-name">Author: <a data-file="073-vomit" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-pint"></div>
                    <div class="class-name">.flaticon-pint</div>
                    <div class="author-name">Author: <a data-file="074-pint" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-beer-2"></div>
                    <div class="class-name">.flaticon-beer-2</div>
                    <div class="author-name">Author: <a data-file="075-beer-2" href="https://www.flaticon.com/authors/eucalyp">Eucalyp</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-beer-3"></div>
                    <div class="class-name">.flaticon-beer-3</div>
                    <div class="author-name">Author: <a data-file="076-beer-3" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-toast"></div>
                    <div class="class-name">.flaticon-toast</div>
                    <div class="author-name">Author: <a data-file="077-toast" href="https://www.flaticon.com/authors/becris">Becris</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-teacher"></div>
                    <div class="class-name">.flaticon-teacher</div>
                    <div class="author-name">Author: <a data-file="078-teacher" href="https://www.flaticon.com/authors/ultimatearm">ultimatearm</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-parking-sensor"></div>
                    <div class="class-name">.flaticon-parking-sensor</div>
                    <div class="author-name">Author: <a data-file="079-parking-sensor" href="https://www.flaticon.com/authors/eucalyp">Eucalyp</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-fire"></div>
                    <div class="class-name">.flaticon-fire</div>
                    <div class="author-name">Author: <a data-file="080-fire" href="https://www.flaticon.com/authors/those-icons">Those Icons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-container"></div>
                    <div class="class-name">.flaticon-container</div>
                    <div class="author-name">Author: <a data-file="081-container" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-poison"></div>
                    <div class="class-name">.flaticon-poison</div>
                    <div class="author-name">Author: <a data-file="082-poison" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-biohazard"></div>
                    <div class="class-name">.flaticon-biohazard</div>
                    <div class="author-name">Author: <a data-file="083-biohazard" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-gym"></div>
                    <div class="class-name">.flaticon-gym</div>
                    <div class="author-name">Author: <a data-file="084-gym" href="https://www.flaticon.com/authors/monkik">monkik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-muscle"></div>
                    <div class="class-name">.flaticon-muscle</div>
                    <div class="author-name">Author: <a data-file="085-muscle" href="https://www.flaticon.com/authors/darius-dan">Darius Dan</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-diet"></div>
                    <div class="class-name">.flaticon-diet</div>
                    <div class="author-name">Author: <a data-file="086-diet" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-running"></div>
                    <div class="class-name">.flaticon-running</div>
                    <div class="author-name">Author: <a data-file="087-running" href="https://www.flaticon.com/authors/good-ware">Good Ware</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-like"></div>
                    <div class="class-name">.flaticon-like</div>
                    <div class="author-name">Author: <a data-file="088-like" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-gift-box"></div>
                    <div class="class-name">.flaticon-gift-box</div>
                    <div class="author-name">Author: <a data-file="089-gift-box" href="https://www.flaticon.com/authors/srip">srip</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-charity"></div>
                    <div class="class-name">.flaticon-charity</div>
                    <div class="author-name">Author: <a data-file="090-charity" href="https://www.flaticon.com/authors/zlatko-najdenovski">Zlatko Najdenovski</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-give"></div>
                    <div class="class-name">.flaticon-give</div>
                    <div class="author-name">Author: <a data-file="091-give" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-light-bulb"></div>
                    <div class="class-name">.flaticon-light-bulb</div>
                    <div class="author-name">Author: <a data-file="092-light-bulb" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-sew"></div>
                    <div class="class-name">.flaticon-sew</div>
                    <div class="author-name">Author: <a data-file="093-sew" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-idea"></div>
                    <div class="class-name">.flaticon-idea</div>
                    <div class="author-name">Author: <a data-file="094-idea" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-eco"></div>
                    <div class="class-name">.flaticon-eco</div>
                    <div class="author-name">Author: <a data-file="095-eco" href="https://www.flaticon.com/authors/xnimrodx">xnimrodx</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-ecology"></div>
                    <div class="class-name">.flaticon-ecology</div>
                    <div class="author-name">Author: <a data-file="096-ecology" href="https://www.flaticon.com/authors/surang">surang</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-protection"></div>
                    <div class="class-name">.flaticon-protection</div>
                    <div class="author-name">Author: <a data-file="097-protection" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-nature"></div>
                    <div class="class-name">.flaticon-nature</div>
                    <div class="author-name">Author: <a data-file="098-nature" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-lotus"></div>
                    <div class="class-name">.flaticon-lotus</div>
                    <div class="author-name">Author: <a data-file="099-lotus" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
                <div class="glyph"><div class="glyph-icon flaticon-om"></div>
                    <div class="class-name">.flaticon-om</div>
                    <div class="author-name">Author: <a data-file="100-om" href="http://www.freepik.com">Freepik</a> </div> 
                </div>        
                
        
            </section>
        
  
  
 
  
  

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input [(ngModel)]="profile.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Birthday</ion-label>
    <ion-input [(ngModel)]="profile.birthday"></ion-input>
  </ion-item>

  <button ion-button clear block (click)="createProfile()">Save Information</button>








 




  <img style="border-radius: 50%;width:100px;
         border: 10px solid #ffffff;
      position: relative;
      top: 40px;
      left: 30px;" src="assets/images/profileimg.jpg">
  
  
  
  
  
  <div >
  
  
  
  <img style="position: relative;left: 230px;top: 37px; width: 30px;"
  src="assets/icon/shopping-cart.svg"  >
  
  
  
  <div style="
      padding-left: 45px;">
  
  <h4 [(ngModel)]="profile.username"></h4>
  <p >120 points</p>
  
  
  <div >
  
  
      <div style="margin-top:60px;">
  <button ion-button color="light" style="display:inline-block;color: #ffffff;
      background-color: #f74e6e;font-size: 20px;font-weight: 300;height: 40px;
      width: 40px;">3</button>
  <h2 style="display:inline;position: relative;
      top: 10px;left:12px">La deg til</h2>
  </div>
  
  
  
  <h2 style="margin-top:15px">
  <img  style="width:40px;position: relative;
      top: 12px;margin-right:12px" src="assets/icon/user_gray.svg" (click)="goToAddNewFriend()">   Legg til nye venner</h2>
  
  
  <h2 style="margin-top:20px"><img  style="width:40px;position: relative;
      top: 12px;margin-right:18px" src="assets/icon/agenda_gray.svg">Mine venner</h2>
  
  
  
  </div>
  </div>
  
  
  
  
  </div>








  <i class="flaticon-pinecone" style="font-size: 30px;"> </i>
</ion-content>
