<ion-header >
  <ion-toolbar>
    <ion-title>
      <div style="text-align:center"><img style="width:40px" src="../../assets/images/bolt.svg"></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



 

  <!--
  <div class="profilecont">
      <img style="border-radius: 50%;width:100px;
      border: 10px solid #ffffff;
      position: relative;
      top: 40px;
      left: 30px;" src="../../assets/images/profileimg.jpg">
      <div style="
      margin-top: 50px; padding: 2px 16px;">

        <h4 >{{userEmail}}</h4>
        <p >120 points</p>
        <a class="label-md" (click)="goToEditProfile()">Edit Profile</a>
        <a class="label-md" (click)="goToSwiper()">Swipe</a>
      </div>
  </div>
    
  -->





  <ion-row style="padding:0;background-image: url(https://image.ibb.co/epvM7n/Art_and_culture.png);">
      <ion-col size="3">
        
      </ion-col>
      <ion-col style="text-align: center;">
          <img style="border-radius: 50%;width:100px;
          border: 10px solid #ffffff;
          " src="assets/images/profileimg.jpg">


<h4 >{{userEmail}}</h4>
<p >120 points</p>




<ion-row >
    <ion-col size="3">
      
    </ion-col>
    <ion-col style="text-align: center;">
      
        <ion-row >
            <ion-col size="3">
              <ion-avatar item-left style="margin: 8px 0px 8px 0;">


                <img  src="assets/images/elementType/creative2.svg" >
               </ion-avatar>
              </ion-col>
              <ion-col size="3">
                <ion-avatar item-left style="margin: 8px 0px 8px 0;">


                  <img  src="assets/images/elementType/toxic.svg" >
                 </ion-avatar>
                </ion-col>
                <ion-col size="3">
                  <ion-avatar item-left style="margin: 8px 0px 8px 0;">


                    <img  src="assets/images/elementType/heart2.svg" >
                   </ion-avatar>
                  </ion-col>
        <ion-col size="3">
          <ion-avatar item-left style="margin: 8px 0px 8px 0;">


            <img  src="assets/images/elementType/fire.svg" >
           </ion-avatar>
          </ion-col>
        </ion-row>
    </ion-col>
    <ion-col size="3">
  
    </ion-col>
  </ion-row>

      </ion-col>
      <ion-col size="3">
       grregqg
      </ion-col>
    </ion-row>










<div >



<img style="position: relative;left: 230px;top: 37px; width: 30px;"
src="assets/icon/shopping-cart.svg"   >



<div style="
padding-left: 45px;">

<h4 >{{userEmail}}</h4>
<p >120 points</p>


<div >


<div style="margin-top:60px;">
<button ion-button color="light" style="display:inline-block;color: #ffffff;
background-color: #f74e6e;font-size: 20px;font-weight: 300;height: 40px;
width: 40px;">3</button>
<h2 style="display:inline;position: relative;
top: 10px;left:12px">La deg til</h2>
</div>



<h2 style="margin-top:15px">
<img  style="width:40px;position: relative;
top: 12px;margin-right:12px" src="assets/icon/user_gray.svg" >   Legg til nye venner</h2>


<h2 style="margin-top:20px"><img  style="width:40px;position: relative;
top: 12px;margin-right:18px" src="assets/icon/agenda_gray.svg">Mine venner</h2>



</div>
</div>




</div>





<a class="label-md" (click)="goToEditProfile()">Edit Profile</a>
<a class="label-md" (click)="goToSwiper()">Swipe</a>
<ion-grid>
    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6">
       grege666666666666666
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3">
     jfdwnlidjfsiojdfwijwodfi
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col size="3">
       grregqg
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="3">
        ion-col [size="3"]
      </ion-col>
      <ion-col size="3" offset="3">
        ion-col [size="3"] [offset="3"]
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        ion-col
      </ion-col>
      <ion-col>
        ion-col
        <br>#
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
        <br>#
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col align-self-start>
        ion-col [start]
      </ion-col>
      <ion-col align-self-center>
        ion-col [center]
      </ion-col>
      <ion-col align-self-end>
        ion-col [end]
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
  
    <ion-row align-items-start>
      <ion-col>
        [start] ion-col
      </ion-col>
      <ion-col>
        [start] ion-col
      </ion-col>
      <ion-col align-self-end>
        [start] ion-col [end]
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
  
    <ion-row align-items-center>
      <ion-col>
        [center] ion-col
      </ion-col>
      <ion-col>
        [center] ion-col
      </ion-col>
      <ion-col>
        [center] ion-col
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
  
    <ion-row align-items-end>
      <ion-col>
        [end] ion-col
      </ion-col>
      <ion-col align-self-start>
        [end] ion-col [start]
      </ion-col>
      <ion-col>
        [end] ion-col
      </ion-col>
      <ion-col>
        ion-col
        <br>#
        <br>#
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
      <ion-col size="12" size-sm>
        ion-col [size="12"] [size-sm]
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12" size-md>
        ion-col [size="12"] [size-md]
      </ion-col>
      <ion-col size="12" size-md>
        ion-col [size="12"] [size-md]
      </ion-col>
      <ion-col size="12" size-md>
        ion-col [size="12"] [size-md]
      </ion-col>
      <ion-col size="12" size-md>
        ion-col [size="12"] [size-md]
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="6" size-lg offset="3">
        ion-col [size="6"] [size-lg] [offset="3"]
      </ion-col>
      <ion-col size="3" size-lg>
        ion-col [size="3"] [size-lg]
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Ionic 4 Start Theme Application</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione
        quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia,
        dolore?
      </p>
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione
        quisquam, fugit omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia,
        dolore?
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
