<ion-header >
  <ion-toolbar>
    <ion-title>
      <div style="text-align:center"><img style="width:40px" src="../../assets/images/bolt.svg"></div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



 

  <!--
  <div class="profilecont">
      <img style="border-radius: 50%;width:100px;
      border: 10px solid #ffffff;
      position: relative;
      top: 40px;
      left: 30px;" src="../../assets/images/profileimg.jpg">
      <div style="
      margin-top: 50px; padding: 2px 16px;">

        <h4 >{{userEmail}}</h4>
        <p >120 points</p>
        <a class="label-md" (click)="goToEditProfile()">Edit Profile</a>
        <a class="label-md" (click)="goToSwiper()">Swipe</a>
      </div>
  </div>
    
  -->




  <ion-grid style="padding:0;background-image: url(assets/images/profileimg.jpg);height: 300px;">
  <ion-row >
     
      <ion-col style="text-align: center;">
          <img style="border-radius: 50%;width:100px;    margin-top: 60px;
          
          " src="assets/images/profileimg.jpg">


<p>Indina Smith</p>
<!-- Round -->
<ion-button shape="round">Send strike</ion-button>


</ion-col>





</ion-row>



</ion-grid>


<h2 style="text-align: center;color: #4c4c4c;
font-size: 20px;">My strike wall</h2>
<ion-row style="    margin-top: 30px;">
    <ion-col size="3">

      
      <div class="round2">
      <i class="small-round flaticon-fire" ></i></div>


      <p class="nr">120 </p>
    </ion-col>
    <ion-col size="3">
        <div class="round2">
            <i class="small-round flaticon-biohazard" ></i></div>
            <p class="nr">3 </p>
    </ion-col>
    <ion-col size="3">
        <div class="round2">
            <i class="small-round flaticon-give" ></i></div>
            <p class="nr">64 </p>
    </ion-col>
    <ion-col size="3">
        <div class="round2">
            <i class="small-round flaticon-light-bulb" ></i></div>
            <p class="nr">5 </p>
    </ion-col>
  </ion-row>


  <h2 style="text-align: center;color: #4c4c4c;
  font-size: 20px;">Strike match</h2>

<ion-row>
    <ion-col size="3">
        <ion-card>

            <img class="center-cropped3" src="assets/images/russ4.jpg" >
          
        </ion-card> 
    </ion-col>
    <ion-col size="3">
        <ion-card>

            <img class="center-cropped3" src="assets/images/russ4.jpg" >
          
        </ion-card> 
    </ion-col>

    <ion-col size="3">
        <ion-card>

            <img class="center-cropped3" src="assets/images/russ4.jpg" >
          
        </ion-card> 
    </ion-col>

    <ion-col size="3">
        <ion-card>

            <img class="center-cropped3" src="assets/images/russ4.jpg" >
          
        </ion-card> 
    </ion-col>
</ion-row>

<h4 >{{userEmail}}</h4>
<p >120 points</p>











<img style="position: relative;left: 230px;top: 37px; width: 30px;"
src="assets/icon/shopping-cart.svg"   >



<div style="
padding-left: 45px;">

<h4 >{{userEmail}}</h4>
<p >120 points</p>
</div>









<div style="margin-top:60px;">
<button ion-button color="light" style="display:inline-block;color: #ffffff;
background-color: #f74e6e;font-size: 20px;font-weight: 300;height: 40px;
width: 40px;">3</button>
<h2 style="display:inline;position: relative;
top: 10px;left:12px">La deg til</h2>
</div>



<h2 style="margin-top:15px">
<img  style="width:40px;position: relative;
top: 12px;margin-right:12px" src="assets/icon/user_gray.svg" >   Legg til nye venner</h2>


<h2 style="margin-top:20px"><img  style="width:40px;position: relative;
top: 12px;margin-right:18px" src="assets/icon/agenda_gray.svg">Mine venner</h2>








<a class="label-md" (click)="goToEditProfile()">Edit Profile</a>
<a class="label-md" (click)="goToSwiper()">Swipe</a>


</ion-content>
