/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


input:-internal-autofill-selected {
    background-color: none !important;}

    ion-item {
        --ion-background-color: transparent !important;
        font-style: #fff;
        }
        
         .item, .list, .item-content, .item-complex {
        --ion-background-color: transparent !important;
        font-style: #fff;
        }


        input:-webkit-autofill {
            -webkit-text-fill-color: #fff !important;
        }



        input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
        input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px transparent inset !important;


}


.item-ios ion-avatar ion-img, .item-ios ion-avatar img{
    width: 20px;
      height: 20px;
      border-radius: 0;
      overflow: hidden;
  }
  
  ion-app.md {
      font-family: sans-serif;
  }
  
  .checkbox-md-dark .checkbox-checked {
      border-color:  #967fce;
      background-color:  #967fce;
  }
  
  .image-upload > input
  {
      display: none;
  }
  
  .card-md {
      margin-bottom: 2px;
      margin: 0px 0px 0px 0px;
      width: calc(100%);
      border-radius: 2px;
      font-size: 1.4rem;
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.07);
  }
  .card-md {
      margin-bottom: 2px;
      margin: 0px 0px 0px 0px;
      width: calc(100%);
      border-radius: 2px;
      font-size: 1.4rem;
      background: #fff;
      box-shadow: 0 2px 2px 0 rgba(31, 27, 27, 0.09), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
      margin-bottom: 3px;
  
  }
  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
       border-style: none;
       border-color: rgba(0, 0, 0, 0.3);
  }
  h2{
  font-weight: 100!important;
  
  }
  
  ion-app.md [padding], ion-app.md [padding] .scroll-content {
      padding:0px;
      padding-bottom: 16px;
  }
  
   .home-content {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(216deg, #ff8a40, #fd5068, #dc4588);
      padding: 55px 5% 5% 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;
  }
  
  .item-md p {
  
      font-size: 1.1rem;
  }
  .item-md.item-block .item-inner {
  
      border-bottom: 0;
  }
  
  .segment-md .segment-button.segment-activated {
      border-color: #967fce;
      opacity: 1;
  }
  
  
  .segment-md .segment-button {
  
      color: #967fce;
  
  }
  
  
 
  
  .toolbar-background {
      background:#967fce !important;
  }
  
  .platform-ios .segment-ios .segment-button.segment-activated {
      color: #fff;
      background-color:#967fce;
      opacity: 1;
      transition: 100ms all linear;
  }
  
  
  .platform-ios .segment-ios .segment-button {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 0;
      height: 3.2rem;
      border-width: 1px;
      border-style: solid;
      border-color:#967fce;
      font-size: 1.3rem;
      line-height: 3rem;
      color: #967fce;
      background-color: transparent;
  }
  
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
      color: #ffffff;}
  
      .elementString{
  
              display: inline;
      top: -10px;
      position: relative;
      left: 10px;
      }
  
      .item-ios {
      position: relative;
      padding-left: 16px;
      padding-right: 16px;}
  
      .list-header-ios {
      position: relative;
      padding-left: 16px;
       border-bottom: none;
  
       margin-top:30px; }
  
       .list-header{
  
  
  
      position: relative;
  
  
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: #333;
      background: transparent;
  }
       .card-ios {
       margin: 0;
   width: 100%;}
  
  /*
   .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
      color:#967fce;
  }
  .tabs-md .tab-button[aria-selected=true] {
      padding: 0;
      color: #967fce;
  } */
  
  .item-ios.item-block .item-inner {
      padding-right: 8px;
      border-bottom: 0px;}
  
  
      .toggle-ios.toggle-checked .toggle-icon {
      background-color: #967fce;
  }
