    /*
    Flaticon icon font: Flaticon
    Creation date: 25/10/2019 11:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-champagne:before { content: "\f100"; }
.flaticon-champagne-and-two-glasses:before { content: "\f101"; }
.flaticon-champagne-1:before { content: "\f102"; }
.flaticon-champagne-2:before { content: "\f103"; }
.flaticon-knot:before { content: "\f104"; }
.flaticon-popsicle:before { content: "\f105"; }
.flaticon-popsicle-1:before { content: "\f106"; }
.flaticon-pine-cone:before { content: "\f107"; }
.flaticon-hat:before { content: "\f108"; }
.flaticon-lollipop-candy:before { content: "\f109"; }
.flaticon-rose:before { content: "\f10a"; }
.flaticon-sheriff:before { content: "\f10b"; }
.flaticon-edit:before { content: "\f10c"; }
.flaticon-cigarette:before { content: "\f10d"; }
.flaticon-button:before { content: "\f10e"; }
.flaticon-champagne-bottle:before { content: "\f10f"; }
.flaticon-dog-collar:before { content: "\f110"; }
.flaticon-quality:before { content: "\f111"; }
.flaticon-money:before { content: "\f112"; }
.flaticon-gift:before { content: "\f113"; }
.flaticon-travel:before { content: "\f114"; }
.flaticon-friendship:before { content: "\f115"; }
.flaticon-life:before { content: "\f116"; }
.flaticon-target:before { content: "\f117"; }
.flaticon-feedback:before { content: "\f118"; }
.flaticon-safety-pin:before { content: "\f119"; }
.flaticon-condom:before { content: "\f11a"; }
.flaticon-lips:before { content: "\f11b"; }
.flaticon-kiss:before { content: "\f11c"; }
.flaticon-lego:before { content: "\f11d"; }
.flaticon-blocks:before { content: "\f11e"; }
.flaticon-swimsuit:before { content: "\f11f"; }
.flaticon-beach:before { content: "\f120"; }
.flaticon-bikini:before { content: "\f121"; }
.flaticon-wedding-ring:before { content: "\f122"; }
.flaticon-birthday-cake:before { content: "\f123"; }
.flaticon-cake:before { content: "\f124"; }
.flaticon-sleeping:before { content: "\f125"; }
.flaticon-syringe:before { content: "\f126"; }
.flaticon-first-aid-kit:before { content: "\f127"; }
.flaticon-care:before { content: "\f128"; }
.flaticon-care-1:before { content: "\f129"; }
.flaticon-recycle-sign:before { content: "\f12a"; }
.flaticon-bread:before { content: "\f12b"; }
.flaticon-snowflake:before { content: "\f12c"; }
.flaticon-snowflake-1:before { content: "\f12d"; }
.flaticon-snowman:before { content: "\f12e"; }
.flaticon-hamburger:before { content: "\f12f"; }
.flaticon-burger:before { content: "\f130"; }
.flaticon-pacifier:before { content: "\f131"; }
.flaticon-tape:before { content: "\f132"; }
.flaticon-feather-pen:before { content: "\f133"; }
.flaticon-quill:before { content: "\f134"; }
.flaticon-panties:before { content: "\f135"; }
.flaticon-corn:before { content: "\f136"; }
.flaticon-bus:before { content: "\f137"; }
.flaticon-hair-cut:before { content: "\f138"; }
.flaticon-tampon:before { content: "\f139"; }
.flaticon-kiss-1:before { content: "\f13a"; }
.flaticon-kiss-2:before { content: "\f13b"; }
.flaticon-wedding-kiss:before { content: "\f13c"; }
.flaticon-barrel:before { content: "\f13d"; }
.flaticon-football:before { content: "\f13e"; }
.flaticon-stopwatch:before { content: "\f13f"; }
.flaticon-payment:before { content: "\f140"; }
.flaticon-book:before { content: "\f141"; }
.flaticon-karaoke:before { content: "\f142"; }
.flaticon-beer:before { content: "\f143"; }
.flaticon-beer-1:before { content: "\f144"; }
.flaticon-fireworks:before { content: "\f145"; }
.flaticon-gift-1:before { content: "\f146"; }
.flaticon-birthday-and-party:before { content: "\f147"; }
.flaticon-vomit:before { content: "\f148"; }
.flaticon-pint:before { content: "\f149"; }
.flaticon-beer-2:before { content: "\f14a"; }
.flaticon-beer-3:before { content: "\f14b"; }
.flaticon-toast:before { content: "\f14c"; }
.flaticon-teacher:before { content: "\f14d"; }
.flaticon-parking-sensor:before { content: "\f14e"; }
.flaticon-fire:before { content: "\f14f"; }
.flaticon-container:before { content: "\f150"; }
.flaticon-poison:before { content: "\f151"; }
.flaticon-biohazard:before { content: "\f152"; }
.flaticon-gym:before { content: "\f153"; }
.flaticon-muscle:before { content: "\f154"; }
.flaticon-diet:before { content: "\f155"; }
.flaticon-running:before { content: "\f156"; }
.flaticon-like:before { content: "\f157"; }
.flaticon-gift-box:before { content: "\f158"; }
.flaticon-charity:before { content: "\f159"; }
.flaticon-give:before { content: "\f15a"; }
.flaticon-light-bulb:before { content: "\f15b"; }
.flaticon-sew:before { content: "\f15c"; }
.flaticon-idea:before { content: "\f15d"; }
.flaticon-eco:before { content: "\f15e"; }
.flaticon-ecology:before { content: "\f15f"; }
.flaticon-protection:before { content: "\f160"; }
.flaticon-nature:before { content: "\f161"; }
.flaticon-lotus:before { content: "\f162"; }
.flaticon-om:before { content: "\f163"; }
    
    $font-Flaticon-champagne: "\f100";
    $font-Flaticon-champagne-and-two-glasses: "\f101";
    $font-Flaticon-champagne-1: "\f102";
    $font-Flaticon-champagne-2: "\f103";
    $font-Flaticon-knot: "\f104";
    $font-Flaticon-popsicle: "\f105";
    $font-Flaticon-popsicle-1: "\f106";
    $font-Flaticon-pine-cone: "\f107";
    $font-Flaticon-hat: "\f108";
    $font-Flaticon-lollipop-candy: "\f109";
    $font-Flaticon-rose: "\f10a";
    $font-Flaticon-sheriff: "\f10b";
    $font-Flaticon-edit: "\f10c";
    $font-Flaticon-cigarette: "\f10d";
    $font-Flaticon-button: "\f10e";
    $font-Flaticon-champagne-bottle: "\f10f";
    $font-Flaticon-dog-collar: "\f110";
    $font-Flaticon-quality: "\f111";
    $font-Flaticon-money: "\f112";
    $font-Flaticon-gift: "\f113";
    $font-Flaticon-travel: "\f114";
    $font-Flaticon-friendship: "\f115";
    $font-Flaticon-life: "\f116";
    $font-Flaticon-target: "\f117";
    $font-Flaticon-feedback: "\f118";
    $font-Flaticon-safety-pin: "\f119";
    $font-Flaticon-condom: "\f11a";
    $font-Flaticon-lips: "\f11b";
    $font-Flaticon-kiss: "\f11c";
    $font-Flaticon-lego: "\f11d";
    $font-Flaticon-blocks: "\f11e";
    $font-Flaticon-swimsuit: "\f11f";
    $font-Flaticon-beach: "\f120";
    $font-Flaticon-bikini: "\f121";
    $font-Flaticon-wedding-ring: "\f122";
    $font-Flaticon-birthday-cake: "\f123";
    $font-Flaticon-cake: "\f124";
    $font-Flaticon-sleeping: "\f125";
    $font-Flaticon-syringe: "\f126";
    $font-Flaticon-first-aid-kit: "\f127";
    $font-Flaticon-care: "\f128";
    $font-Flaticon-care-1: "\f129";
    $font-Flaticon-recycle-sign: "\f12a";
    $font-Flaticon-bread: "\f12b";
    $font-Flaticon-snowflake: "\f12c";
    $font-Flaticon-snowflake-1: "\f12d";
    $font-Flaticon-snowman: "\f12e";
    $font-Flaticon-hamburger: "\f12f";
    $font-Flaticon-burger: "\f130";
    $font-Flaticon-pacifier: "\f131";
    $font-Flaticon-tape: "\f132";
    $font-Flaticon-feather-pen: "\f133";
    $font-Flaticon-quill: "\f134";
    $font-Flaticon-panties: "\f135";
    $font-Flaticon-corn: "\f136";
    $font-Flaticon-bus: "\f137";
    $font-Flaticon-hair-cut: "\f138";
    $font-Flaticon-tampon: "\f139";
    $font-Flaticon-kiss-1: "\f13a";
    $font-Flaticon-kiss-2: "\f13b";
    $font-Flaticon-wedding-kiss: "\f13c";
    $font-Flaticon-barrel: "\f13d";
    $font-Flaticon-football: "\f13e";
    $font-Flaticon-stopwatch: "\f13f";
    $font-Flaticon-payment: "\f140";
    $font-Flaticon-book: "\f141";
    $font-Flaticon-karaoke: "\f142";
    $font-Flaticon-beer: "\f143";
    $font-Flaticon-beer-1: "\f144";
    $font-Flaticon-fireworks: "\f145";
    $font-Flaticon-gift-1: "\f146";
    $font-Flaticon-birthday-and-party: "\f147";
    $font-Flaticon-vomit: "\f148";
    $font-Flaticon-pint: "\f149";
    $font-Flaticon-beer-2: "\f14a";
    $font-Flaticon-beer-3: "\f14b";
    $font-Flaticon-toast: "\f14c";
    $font-Flaticon-teacher: "\f14d";
    $font-Flaticon-parking-sensor: "\f14e";
    $font-Flaticon-fire: "\f14f";
    $font-Flaticon-container: "\f150";
    $font-Flaticon-poison: "\f151";
    $font-Flaticon-biohazard: "\f152";
    $font-Flaticon-gym: "\f153";
    $font-Flaticon-muscle: "\f154";
    $font-Flaticon-diet: "\f155";
    $font-Flaticon-running: "\f156";
    $font-Flaticon-like: "\f157";
    $font-Flaticon-gift-box: "\f158";
    $font-Flaticon-charity: "\f159";
    $font-Flaticon-give: "\f15a";
    $font-Flaticon-light-bulb: "\f15b";
    $font-Flaticon-sew: "\f15c";
    $font-Flaticon-idea: "\f15d";
    $font-Flaticon-eco: "\f15e";
    $font-Flaticon-ecology: "\f15f";
    $font-Flaticon-protection: "\f160";
    $font-Flaticon-nature: "\f161";
    $font-Flaticon-lotus: "\f162";
    $font-Flaticon-om: "\f163";