	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/10/2019 11:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

 
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}


[class^="big flaticon-"]:before, [class*="big flaticon-"]:before,
[class^="big flaticon-"]:after, [class*="big flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 60px;
font-style: normal;
margin-left: 20px;
}


[class^="btn flaticon-"]:before, [class*="btn flaticon-"]:before,
[class^="btn flaticon-"]:after, [class*="btn flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 40px;
  background-color: #f4215b;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  font-style: normal;
  position: absolute;
    top: 20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}


[class^="round flaticon-"]:before, [class*="round flaticon-"]:before,
[class^="round flaticon-"]:after, [class*="round flaticon-"]:after {   
  font-family: Flaticon;
  font-family: Flaticon;
  font-size: 40px;
  background: linear-gradient(216deg, #ff8a40, #fd5068, #dc4588);
  -webkit-background-clip: text;
  padding: 18px;
  border-radius: 40px;
  border: solid linear-gradient(216deg, #ff8a40, #fd5068, #dc4588);
  color: #fff;
  font-style: normal;
  margin-left: 0px !important;
  /* position: absolute; */
  /* top: 20px; */
  /* background: linear-gradient(#eee, #333); */
 
  -webkit-text-fill-color: transparent;
}

[class^="small-round flaticon-"]:before, [class*="small-round flaticon-"]:before,
[class^="small-round flaticon-"]:after, [class*="small-round flaticon-"]:after {   
  font-family: Flaticon;
  font-family: Flaticon;
  font-size: 30px;

  
  padding: 18px;
  /* border-radius: 40px; */
  position: relative;
  top: -2px;
  right: 8px;
  color: #fff;
  font-style: normal;
  margin-left: 0px !important;

}



[class^="big flaticon-"]:before, [class*="big flaticon-"]:before,
[class^="big flaticon-"]:after, [class*="big flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 60px;
font-style: normal;
margin-left: 20px;
}


[class^="btn flaticon-"]:before, [class*="btn flaticon-"]:before,
[class^="btn flaticon-"]:after, [class*="btn flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 40px;
  background-color: #f4215b;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  font-style: normal;
  position: absolute;
    top: 20px;
}

.flaticon-champagne:before { content: "\f100"; }
.flaticon-champagne-and-two-glasses:before { content: "\f101"; }
.flaticon-champagne-1:before { content: "\f102"; }
.flaticon-champagne-2:before { content: "\f103"; }
.flaticon-knot:before { content: "\f104"; }
.flaticon-popsicle:before { content: "\f105"; }
.flaticon-popsicle-1:before { content: "\f106"; }
.flaticon-pine-cone:before { content: "\f107"; }
.flaticon-hat:before { content: "\f108"; }
.flaticon-lollipop-candy:before { content: "\f109"; }
.flaticon-rose:before { content: "\f10a"; }
.flaticon-sheriff:before { content: "\f10b"; }
.flaticon-edit:before { content: "\f10c"; }
.flaticon-cigarette:before { content: "\f10d"; }
.flaticon-button:before { content: "\f10e"; }
.flaticon-champagne-bottle:before { content: "\f10f"; }
.flaticon-dog-collar:before { content: "\f110"; }
.flaticon-quality:before { content: "\f111"; }
.flaticon-money:before { content: "\f112"; }
.flaticon-gift:before { content: "\f113"; }
.flaticon-travel:before { content: "\f114"; }
.flaticon-friendship:before { content: "\f115"; }
.flaticon-life:before { content: "\f116"; }
.flaticon-target:before { content: "\f117"; }
.flaticon-feedback:before { content: "\f118"; }
.flaticon-safety-pin:before { content: "\f119"; }
.flaticon-condom:before { content: "\f11a"; }
.flaticon-lips:before { content: "\f11b"; }
.flaticon-kiss:before { content: "\f11c"; }
.flaticon-lego:before { content: "\f11d"; }
.flaticon-blocks:before { content: "\f11e"; }
.flaticon-swimsuit:before { content: "\f11f"; }
.flaticon-beach:before { content: "\f120"; }
.flaticon-bikini:before { content: "\f121"; }
.flaticon-wedding-ring:before { content: "\f122"; }
.flaticon-birthday-cake:before { content: "\f123"; }
.flaticon-cake:before { content: "\f124"; }
.flaticon-sleeping:before { content: "\f125"; }
.flaticon-syringe:before { content: "\f126"; }
.flaticon-first-aid-kit:before { content: "\f127"; }
.flaticon-care:before { content: "\f128"; }
.flaticon-care-1:before { content: "\f129"; }
.flaticon-recycle-sign:before { content: "\f12a"; }
.flaticon-bread:before { content: "\f12b"; }
.flaticon-snowflake:before { content: "\f12c"; }
.flaticon-snowflake-1:before { content: "\f12d"; }
.flaticon-snowman:before { content: "\f12e"; }
.flaticon-hamburger:before { content: "\f12f"; }
.flaticon-burger:before { content: "\f130"; }
.flaticon-pacifier:before { content: "\f131"; }
.flaticon-tape:before { content: "\f132"; }
.flaticon-feather-pen:before { content: "\f133"; }
.flaticon-quill:before { content: "\f134"; }
.flaticon-panties:before { content: "\f135"; }
.flaticon-corn:before { content: "\f136"; }
.flaticon-bus:before { content: "\f137"; }
.flaticon-hair-cut:before { content: "\f138"; }
.flaticon-tampon:before { content: "\f139"; }
.flaticon-kiss-1:before { content: "\f13a"; }
.flaticon-kiss-2:before { content: "\f13b"; }
.flaticon-wedding-kiss:before { content: "\f13c"; }
.flaticon-barrel:before { content: "\f13d"; }
.flaticon-football:before { content: "\f13e"; }
.flaticon-stopwatch:before { content: "\f13f"; }
.flaticon-payment:before { content: "\f140"; }
.flaticon-book:before { content: "\f141"; }
.flaticon-karaoke:before { content: "\f142"; }
.flaticon-beer:before { content: "\f143"; }
.flaticon-beer-1:before { content: "\f144"; }
.flaticon-fireworks:before { content: "\f145"; }
.flaticon-gift-1:before { content: "\f146"; }
.flaticon-birthday-and-party:before { content: "\f147"; }
.flaticon-vomit:before { content: "\f148"; }
.flaticon-pint:before { content: "\f149"; }
.flaticon-beer-2:before { content: "\f14a"; }
.flaticon-beer-3:before { content: "\f14b"; }
.flaticon-toast:before { content: "\f14c"; }
.flaticon-teacher:before { content: "\f14d"; }
.flaticon-parking-sensor:before { content: "\f14e"; }
.flaticon-fire:before { content: "\f14f"; }
.flaticon-container:before { content: "\f150"; }
.flaticon-poison:before { content: "\f151"; }
.flaticon-biohazard:before { content: "\f152"; }
.flaticon-gym:before { content: "\f153"; }
.flaticon-muscle:before { content: "\f154"; }
.flaticon-diet:before { content: "\f155"; }
.flaticon-running:before { content: "\f156"; }
.flaticon-like:before { content: "\f157"; }
.flaticon-gift-box:before { content: "\f158"; }
.flaticon-charity:before { content: "\f159"; }
.flaticon-give:before { content: "\f15a"; }
.flaticon-light-bulb:before { content: "\f15b"; }
.flaticon-sew:before { content: "\f15c"; }
.flaticon-idea:before { content: "\f15d"; }
.flaticon-eco:before { content: "\f15e"; }
.flaticon-ecology:before { content: "\f15f"; }
.flaticon-protection:before { content: "\f160"; }
.flaticon-nature:before { content: "\f161"; }
.flaticon-lotus:before { content: "\f162"; }
.flaticon-om:before { content: "\f163"; }